{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'css/google.apis.fonts.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/leopardcss.css'%}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico'%}" type="image/x-icon">
    <style type="text/css">
    	pre {
        word-wrap: normal !important;
    		font-family: monospace !important;
    		border-radius: 0 !important;

        }
    </style>
    <script src="{% static 'js/chart.js'%}"></script>
</head>
<body>
	<div class="container-fluid position-absolute">
		<div class="row py-3 bg-primary d-flex justify-content-center shadow">
		<!--pakai row ya-->
			<div class="col-2 m-2 border rounded" style="color:lightblue">
				<div class="row d-flex justify-content-center h3 my-2 style="font-weight:bold"">
					Toko Sembako
				</div>
				<div class="row d-flex justify-content-center  style="font-weight:bold"">
					Jl. Kyai Kasan Timur no.250
				</div>
			</div>
			<div class="col-2 rounded border h3 mx-3 py-4 shadow text-end" style="background-color:lightblue; font-weight:bold">Total Belanja</div>
			<div class="col-3 rounded border h2 mx-3 py-4 shadow text-start" style="background-color:lightblue;font-weight:bold">Rp.10.000.000,00</div>
			<div class="col-3 rounded border h3 mx-3 py-4 shadow text-center" style="background-color:lightblue;font-weight:bold">Jumlah Item: #3</div>
		</div>
		<div class="row text-center h5 shadow my-1" style="background-color:lightblue">
			<div class="col-4 text-start">
				<div class="row">
					<div class="d-flex justify-content-start col-5 py-2">
						user login: &nbsp;<b>{{user.username}}</b>
					</div>
					<div class="d-flex justify-content-start col-7">
						<button type="button" class="btn btn-outline-primary rounded-pill" onclick="location.href='{% url 'logout'%}'">logout</button></p>
					</div>	
				</div>
			</div>
			<div class="col-8 py-1 text-end">
				tanggal: {{mydate}}
			</div>
		</div>

		<div class="row container-fluid" style="background-color:whitesmoke">
			<div class="col-12">
				<div class="row py-2" style="background-color: lightcyan;">
					<div class="col-4">
						<button class="form-control rounded-pill btn btn-outline-primary" onclick="location.href='/POS/1/'">POS#1</button>
					</div>
					<div class="col-4">
						<button class="form-control rounded-pill btn btn-outline-secondary" onclick="location.href='/POS/2/'">POS#2</button>
					</div>
					<div class="col-4">
						<button class="form-control rounded-pill btn btn-outline-success" onclick="location.href='/POS/3/'">POS#3</button>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-center py-2  border-1 my-2" style="background-color: cyan;" style="position: absolute;z-index: 1;"><h5>Transaksi Penjualan</h5></div>
					<div class="col-1 text-center py-2 rounded-pill rounded-start border-1 my-2" style="background-color: paleturquoise;" style="left:20px; position:absolute; z-index: 2;"><h5>
						{% if nomor == "1" %}
							POS#1
						{% elif nomor == "2" %}
							POS#2
						{% elif nomor == "3" %}
							POS#3
						{% endif %}
					</h5></div>
				</div>
				<div class="row">
					<div class="col-9 text-end"><h3>Pelanggan:
						<select>
							<option>Eceran</option>
							<option>Nama#1</option>
							<option>Nama#2</option>
							<option>Nama#3</option>
							<option>Nama#4</option>
							<option>Nama#5</option>
						</select>
					</h3></div>
				</div>

				
				<div class="container-fluid my-2">
					<div class="row border rounded p-3" style="background-color:Bisque">
						<div class="container-fluid h4" style="background-color:rgb(251, 235, 217)">
						Pilih Item Barang
						</div>
						<div class="col-5" >Nama/ Kode Barang<br/><input style="background-color:beige" type="text" class="form-control border"></div>
						<div class="col-5" >Harga Barang<br/><input style="background-color:beige" type="text" class="form-control border"></div>
						<div class="col-2" >Jumlah<br/><input style="background-color:beige" type="text" class="form-control border"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/sidebar_click.js'%}"></script>
</body>
</html>
