{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'css/google.apis.fonts.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/leopardcss.css'%}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico'%}" type="image/x-icon">
    <style type="text/css">
    	pre {
        	word-wrap: nowrap !important;
    		font-family: verdana !important;
    		border-radius: 0 !important;

        }
    </style>
    <script src="{% static 'js/chart.js'%}"></script>
</head>
<body>
	<div class="container-fluid position-absolute">
		<div class="row py-3 bg-primary d-flex justify-content-center shadow">
		<!--pakai row ya-->
			<div class="col-2 m-2 border rounded" style="color:lightblue">
				<div class="row d-flex justify-content-center h3 my-2 style="font-weight:bold"">
					Toko Sembako
				</div>
				<div class="row d-flex justify-content-center  style="font-weight:bold"">
					Jl. Kyai Kasan Timur no.250
				</div>
			</div>
			<div class="col-2 rounded border h3 mx-3 py-4 shadow text-end" style="background-color:lightblue; font-weight:bold">Total Belanja</div>
			<div class="col-3 rounded border h2 mx-3 py-4 shadow text-start" style="background-color:lightblue;font-weight:bold">Rp.10.000.000,00</div>
			<div class="col-3 rounded border h3 mx-3 py-4 shadow text-center" style="background-color:lightblue;font-weight:bold">Jumlah Item: #3</div>
		</div>
		<div class="row text-center h5 shadow my-1" style="background-color:lightblue">
			<div class="col-12">
				<div class="row">
					<div class="mx-3d-flex justify-content-start col-1 py-2 shadow" style="background-color: blueviolet;">
						login:  
					</div>
					<div class="d-flex justify-content-start col-2 py-2 shadow" style="background-color: lightcyan;">
						<b>{{user.username}}</b> 
					</div>
					<div class="d-flex justify-content-center col-1 py-2 shadow" style="background-color: lightskyblue;">
						<b>RETAIL</b> 
					</div>
					<div class="d-flex justify-content-center col-2 py-2 shadow" style="background-color: aquamarine;">
						<b>{{mydate | date:"D, d-M-Y"}}</b> 
					</div>
					<div class="d-flex justify-content-center col-1 py-2 shadow" style="background-color: lightblue;">
						
					</div><div class="d-flex justify-content-center col-2 py-2 shadow" style="background-color: lightblue;" onclick="location.href='/i/'">
						Master Data
					</div>
					<div class="d-flex justify-content-center col-2 py-2 shadow" style="background-color: aquamarine;">
						WholeSeller
					</div>

					<div class="d-flex justify-content-end col-1 bg-transparent shadow">
						<button class="btn bg-success form-control" onclick="location.href='{% url 'logout'%}'">logout</button>
					</div>	
				</div>
			</div>
		</div>

		<div class="row container-fluid" style="background-color:whitesmoke">
			<div class="col-12">
				<div class="row py-2" style="background-color: lightcyan;">
					<div class="col-3">
						<div class="row">
							<div class="col-6 text-center py-2  border-1 my-2 rounded-end rounded-pill shadow" style="background-color: cyan;" style="position: absolute;z-index: 1;"><b>SALES</b></div>
							<div class="col-6 text-center py-2 rounded-pill rounded-start border-1 my-2 shadow" style="background-color: paleturquoise;" style="left:20px; position:absolute; z-index: 2;"><b>
								{% if nomor == "1" %}
									POS#1
								{% elif nomor == "2" %}
									POS#2
								{% elif nomor == "3" %}
									POS#3
								{% endif %}
							</b></div>
	
						</div>
					</div>
					<div class="col-3 py-2">
						<button class="form-control rounded-pill btn btn-outline-primary rounded-start shadow" onclick="location.href='/POS/1/'">POS#1</button>
					</div>
					<div class="col-3 py-2">
						<button class="form-control rounded-pill btn btn-outline-secondary rounded-start shadow" onclick="location.href='/POS/2/'">POS#2</button>
					</div>
					<div class="col-3 py-2">
						<button class="form-control rounded-pill btn btn-outline-success rounded-start shadow" onclick="location.href='/POS/3/'">POS#3</button>
					</div>
				</div>
				
				<div class="container-fluid my-2 p-2">
					<div class="row">
						<div class="container col-3 border-3 border-primary rounded-3 shadow"">
							<div class="containers text-center">
								<span style="font-weight: bold;">Toko Sembako</span><br>
								Jl. Kyai Kasan Timur no.250<br>
								Kranggan-Temanggung<br>
								081213270275<hr>
							</div>
							<pre>Nomor Nota: xxxxxxxxxxx
							</pre>
						</div>
						<div class="col-9">
							<div>
								<div class="h5 p-2 rounded-pill text-center" style="background-color: lightblue">
									 Input Penjualan 
								</div>
								<div class="row">
									<div class="col-3">Kode Barang:<br>
									<input type="text" class="form-control" placeholder="Input/ Scan Barcode" id="kode_barang"><br>
									<input type="text" class="form-control" placeholder="Klik Untuk Pilih Barang" id="kode_barang" readonly><br>
									</div>
									<div class="col-3">Nama Barang:<br>
										<input type="text" class="form-control" placeholder="Nama Barang" id="nama_barang" readonly>
									</div>
									<div class="col-2">Stok:<br>
										<input type="text" class="form-control" placeholder="0" id="jml_stok" readonly>
									</div>
									<div class="col-2">Beli:<br>
										<input type="text" class="form-control" placeholder="0" id="jml_beli">
									</div>
									<div class="col-2">Tambahkan<br>
										<button class="btn btn-primary">Tambahkan</button>
									</div>
								</div>
							</div>
							<div  class="row  border shadow p-3">
								<div class="h5 p-2 rounded-pill text-center" style="background-color: lightblue;">
									Daftar Belanja
								</div>
							</div>
						<div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/sidebar_click.js'%}"></script>
	<script src="{% static 'js/konfirmasi.js'%}"></script>
</body>
</html>
