{% load static%}
{% load humanize%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'css/google.apis.fonts.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/leopardcss.css'%}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico'%}" type="image/x-icon">
    <style type="text/css">
    	pre {
        	word-wrap: nowrap !important;
    		font-family: verdana !important;
    		border-radius: 0 !important;

        }
    </style>
    <script src="{% static 'js/chart.js'%}"></script>
</head>
<body>
	<div class="container-fluid position-absolute">
		<div class="row py-3 bg-primary d-flex justify-content-center shadow">
		<!--pakai row ya-->
			<div class="col-2 m-2 border rounded" style="color:lightblue">
				<div class="row d-flex justify-content-center h3 my-2 style="font-weight:bold"">
					Toko Sembako
				</div>
				<div class="row d-flex justify-content-center  style="font-weight:bold"">
					Jl. Kyai Kasan Timur no.250
				</div>
			</div>
			<div class="col-2 rounded border h3 mx-3 py-4 shadow text-end" style="background-color:lightblue; font-weight:bold">Total Belanja</div>
			<div class="col-3 rounded border h2 mx-3 py-4 shadow text-start" style="background-color:lightblue;font-weight:bold">Rp.10.000.000,00</div>
			<div class="col-3 rounded border h3 mx-3 py-4 shadow text-center" style="background-color:lightblue;font-weight:bold">Jumlah Item: #3</div>
		</div>
		<div class="row text-center h5 shadow my-1" style="background-color:lightblue">
			<div class="col-12">
				<div class="row">
					<div class="mx-3d-flex justify-content-start col-1 py-2 shadow" style="background-color: blueviolet;">
						login:  
					</div>
					<div class="d-flex justify-content-start col-2 py-2 shadow" style="background-color: lightcyan;">
						<b>{{user.username}}</b> 
					</div>
					<div class="d-flex justify-content-center col-1 py-2 shadow" style="background-color: lightskyblue;">
						<b>RETAIL</b> 
					</div>
					<div class="d-flex justify-content-center col-2 py-2 shadow" style="background-color: aquamarine;">
						<b>{{mydate | date:"D, d-M-Y"}}</b> 
					</div>
					<div class="d-flex justify-content-center col-1 py-2 shadow" style="background-color: lightblue;">
						
					</div><div class="d-flex justify-content-center col-2 py-2 shadow" style="background-color: lightblue;" onclick="location.href='/i/'">
						Master Data
					</div>
					<div class="d-flex justify-content-center col-2 py-2 shadow" style="background-color: aquamarine;">
						WholeSeller
					</div>

					<div class="d-flex justify-content-end col-1 bg-transparent shadow">
						<button class="btn bg-success form-control" onclick="location.href='{% url 'logout'%}'">logout</button>
					</div>	
				</div>
			</div>
		</div>

		<div class="row container-fluid">
			<div class="col-12 mx-1">
				<div class="row p-2  rounded-pill shadow" style="background-color: lightcyan;">
					<div class="col-3">
						<div class="row">
							<div class="col-6 text-center py-2  border-1 my-2 rounded-end rounded-pill shadow" style="background-color: cyan;" style="position: absolute;z-index: 1;"><b>SALES</b></div>
							<div class="col-6 text-center py-2 rounded-pill rounded-start border-1 my-2 shadow" style="background-color: paleturquoise;" style="left:20px; position:absolute; z-index: 2;"><b>
								{% if nomor == "1" %}
									<b>POS#1</b>
								{% elif nomor == "2" %}
									<b>POS#2</b>
								{% elif nomor == "3" %}
									<b>POS#3</b>
								{% endif %}
							</b></div>
	
						</div>
					</div>
					<div class="col-3 py-2">
						<button class="form-control rounded-pill btn btn-outline-primary rounded-start shadow" onclick="location.href='/POS/1/'">POS#1</button>
					</div>
					<div class="col-3 py-2">
						<button class="form-control rounded-pill btn btn-outline-secondary rounded-start shadow" onclick="location.href='/POS/2/'">POS#2</button>
					</div>
					<div class="col-3 py-2">
						<button class="form-control rounded-pill btn btn-outline-success rounded-start shadow" onclick="location.href='/POS/3/'">POS#3</button>
					</div>
				</div>
				
				<div class="container-fluid my-2 p-2">
					<div class="row">
						<div class="container col-3 rounded shadow border" style="background-color: rgb(255, 255, 214);">
							<div class="containers text-center">
								<span style="font-weight: bold;">Toko Sembako</span><br>
								Jl. Kyai Kasan Timur no.250<br>
								Kranggan-Temanggung<br>
								081213270275<hr>
							</div>
							<pre>Nomor Nota: xxxxxxxxxxx
							</pre>
						</div>
						<div class="col-9">
							<div>
								<div class="h5 p-2 rounded-pill text-center shadow" style="background-color: lightblue">
									 Input Penjualan 
								</div>
								<div class="row">
									<div class="col-3">Kode Barang:<br>
									<input type="text" class="form-control rounded-pill shadow" placeholder="Daftar Barang" readonly id="kode_barang" onclick="tampilkanbarang()"><br>
									</div>
									<div class="col-3 ">Nama Barang:<br>
										<input type="text" class="form-control rounded-pill shadow" placeholder="Nama Barang" id="nama_barang" readonly >
									</div>
									<div class="col-2">Stok:<br>
										<input type="text" class="form-control rounded-pill shadow" placeholder="0" id="jml_stok" readonly>
									</div>
									<div class="col-2">Beli:<br>
										<input type="text" class="form-control rounded-pill shadow" placeholder="0" id="jml_beli">
									</div>
									<div class="col-2"><br>
										<button class="btn btn-outline-primary rounded-pill shadow">Tambahkan</button>
									</div>
								</div>
							</div>
							<div  class="row  border shadow p-3 rounded">
								<div class="h5 p-2 rounded-pill text-center shadow" style="background-color: lightblue;">
									Daftar Belanja
								</div>
							</div>
						<div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ini untuk menampilkan daftar barang-->
	<div class="container-fluid border-info border-5 h-75" style="position: absolute; overflow-y: scroll; display:none" id="daftarbarang">
		<div  class="shadow w-100 py-3 container border rounded" style="background-color: beige;">
			<div class="row rounded-top  shadow" style="background: linear-gradient(to bottom,rgb(243, 243, 101),rgb(247, 217, 217))">
				<div class="col-2 fw-bold py-2">Pilihan Daftar Barang:</div>
				<div class="col-9 fw-bold"><input type="text" class="form-control" id="myInput"></input></div>
				<div class="col-1 d-flex justify-content-end"><button class="close btn" onclick="close_daftarbarang()">X</button></div>
			</div>
			<div class="row rounded-bottom  shadow p-2" style="background-color: white">
				<table class="table table-striped table-hover" id="myTable">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Id Barang</th>
						<th scope="col">Nama Barang</th>
						<th scope="col">Harga Ecer</th>
						<th scope="col">Jumlah Stok</th>
						<th scope="col">Gambar</th>
						<th scope="col"></th>
					</tr>
					{% for daftar in daftarbarang %}
					<tr class="{%cycle 'table-primary' 'table-warning'%}">
						<th scope="row">{{forloop.counter}}</th>
						<td>{{daftar.id_barang}}</td>
						<td>{{daftar.nama_barang}}</td>
						<td>Rp.{{daftar.harga_ecer | intcomma}},00</td>
						<td>{{daftar.stok_akhir | intcomma}}</td>
						<td><img src="{{daftar.foto.url}}" style="width: 100px;height:50px"></td>
						<td><button class="btn btn-outline-primary">tambahkan</button></td>
					</tr>
					{% endfor%}
				</table>
			</div>
		</div>	
	</div>
	<!--end of menampilkan daftar barang-->

	<script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/sidebar_click.js'%}"></script>
	<script src="{% static 'js/konfirmasi.js'%}"></script>

	<script>
		function tampilkanbarang()
		{
	
			$('#daftarbarang').show(1000);
		}

		function close_daftarbarang()
		{
			$('#daftarbarang').hide(1000);
	
		}

		$(document).ready(function(){
			$("#myInput").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
</body>
</html>
