{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L-tokoku</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'css/google.apis.fonts.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/leopardcss.css'%}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico'%}" type="image/x-icon">
</head>
<body>
        <div class="container border shadow text-center" style="background-color:lightblue">
            <div class="container-fluid m-3">
                <h1><b>Toko Sembako</b></h1>
                <h3><b>L-tokoku </b><h5>sistem id: LT001</h5></h3>
            </div>
        </div>    
        {% if user.is_authenticated %}
            <script>
                window.location.href = '/POS/1/';
            </script>
        {% else %}
            {% if loginkan == 1 %}
                <div class="text-center bg-info my-3 p-3 container rounded-pill shadow w-50">
                    Username dan Password berbeda!
                </div>
            {% endif %}
        {% endif%}
        </div>
        <form method="post">
            {%csrf_token%}
            <div class="container d-flex justify-content-center my-5 w-75">
                
                <div class="container border shadow">
                    <div class="row">
                        <div class="text-center container border rounded-3 shadow p-2 h4" style="background-color:lightyellow">
                            &laquo; login &raquo;
                        </div>
                        
                    </div>
                    <div class="row my-3">
                        <div class="col-4">
                            Username:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="username" name='txtusername' required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Password:
                        </div>
                        <div class="col-8">
                            <input type="password" class="form-control" placeholder="password" name='txtpassword' required>
                        </div>
                    </div>
                    <div class="row my-3">
                        <button type="submit" class="form-control btn btn-outline-secondary">Login</button>
                    </div>
                </div>
            </div>
        </form>
        <script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
</body>
</html>