{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/demo.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'css/google.apis.fonts.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/leopardcss.css'%}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico'%}" type="image/x-icon">
    <title>{%block title%}Document{% endblock%}</title>
    <style>
      pre {
            overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
         }
    </style>
    <script src="{% static 'js/chart.js'%}"></script>
</head>
<body style="background-color: whitesmoke ;">
 
        <main>
            <!-- Start Mega Menu HTML -->
            <nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-dark shadow fixed-top">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#" style="font-weight: bold;font-size:30px">L-tokoku</a>
                  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                    <div class="hamburger-toggle">
                      <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Master Data</a>
                        <ul class="dropdown-menu shadow">
                          <li><a class="dropdown-item" href="/i/">Menambah Master Data</a></li>
                          <li><a class="dropdown-item" href="/v/">Melihat Master Data</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Pembelian</a>
                        <ul class="dropdown-menu shadow">
                          <li><a class="dropdown-item" href="/i/">Pembelian Barang</a></li>
                          <li><a class="dropdown-item" href="/v/">Pembayaran Barang</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/POS/1/">POS Retail</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/POS-grosir/1/">POS Grosir</a>
                      </li>    
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">History</a>
                        <ul class="dropdown-menu shadow">
                          <li><a class="dropdown-item" href="/i/">History Pembelian Barang</a></li>
                          <li><a class="dropdown-item" href="/v/">History Penjualan</a></li>
                        </ul>
                      </li>               
                    </ul>
                    <form class="d-flex ms-auto" action="{% url 'Find_kode_barang'%}" method="POST" target="_blank">
                      {% csrf_token %}
                        <div class="input-group">
                            <input class="form-control border-0 mr-2 rounded-pill rounded-end" type="text" placeholder="Pencarian" aria-label="Search" name='txtcari'>
                            <button class="btn btn-info rounded-pill rounded-start " type="submit">Search</button>
                        </div>
                    </form>
                  </div>
                </div>
              </nav>
            <!-- END Mega Menu HTML -->
        </main>
    
    {% block warnings%}
    {% endblock %}

    <div class="row px-5 py-3 shadow border rounded-2 w-auto m-3 my-5">
      <div class="container-fluid shadow text-start p-3 my-2 rounded-pill rounded-bottom text-center fw-bold" style="background-color: lightgreen; font-size: 30px;" >
        &diams; {% block stamp%}{% endblock%} &diams;
      </div>
      <div class="container-fluid border border-2 rounded p-4" style="overflow-x:auto;">
          {% block content %}

          {% endblock %}
      </div>
      
    <footer class="footer fixed-bottom bg-white py-2  border">
      <div class="container-fluid text-center">
        <code class="bg-light rounded-3 border shadow"><b>&copy; 2022 </b> - <b>by:  <img  src="{% static 'img/logo.ico'%}" alt="logo-leopard" class=" mx-auto rounded-5 d-inline-flex "> Leopard Inc.</code></b>
      </div>
    </footer>
    <script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script>
      $('document').ready(function() {
        $('#mastersupplier').click(function() {
          window.location="/i/ms/";
        });
        $('#masterpelanggan').click(function() {
          window.location="/i/mp/";
        });
        $('#masterbarang').click(function() {
          window.location="/i/mb/";
        });
        $('#viewmastersupplier').click(function() {
          window.location="/v/s/";
        });
        $('#viewmasterpelanggan').click(function() {
          window.location="/v/p/";
        });
        $('#viewmasterbarang').click(function() {
          window.location="/v/b/";
        });
        $('#exitwarning').click(function() {
          $('#exitwarning').hide(1000);
        })
      })
    </script>
</body>
</html>