{% extends 'initial.html'%}
{% load humanize %}

{% block title %}
    POS | L-tokoku
{% endblock %}

{% block header_sidebar%}
POS Penjualan
{% endblock%}

{% block sidebar%}
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">Penjualan #1</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">Penjualan #2</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">Penjualan #3</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">Penjualan #4</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">Penjualan #5</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">Penjualan #6</button>
{% endblock%}

{% block stamp%}
Penjualan {{no_penjualan}}
{% endblock%}


{% block content%}
<!--untuk mengisi block data input utama-->
{% endblock%}

{% block mylist %}
    <!--untuk mengisi block list data-->
{% endblock %}

{% block jquery%}
    <!--block menambahkan jquery-->
{% endblock%}
