{% extends 'initial.html'%}
{% load humanize %}

{% block title %}
<!--diisi untuk title--> 
{% endblock %}

{% block header_sidebar%}
<!--diisi dengan tulisan nama header untuk sidebar-->
{% endblock%}

{% block sidebar%}
    <!--
    diisi dengan button untuk sidebar

    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">Master Data Supplier</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">Master Data Pelanggan</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">hallo1</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">hallo1</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">hallo1</button>
    <button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2">hallo1</button>
    -->
{% endblock%}

{% block stamp%}
<!--diisi untuk header isi utama -->
{% endblock%}


{% block content%}
<!--untuk mengisi block data input utama-->
{% endblock%}

{% block mylist %}
    <!--untuk mengisi block list data-->
{% endblock %}

{% block jquery%}
    $('document').write('hallo');
{% endblock%}