{% extends 'initial.html'%}
{% load humanize %}

{% block title %} L-tokoku | Master Supplier {% endblock %}


{% block stamp%}
    Master Data Supplier
{% endblock%}

{% block header_sidebar%}
Master Data
{% endblock%}

{% block sidebar%}
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="masterbarang">Master Data Barang</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="mastersupplier">Master Data Supplier</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="masterpelanggan">Master Data Pelanggan</button>
{% endblock%}

{% block warnings%}
    {% if apa_post %}
        {% if errornya is not None %}
            <div class="container d-flex justify-content-center py-3 fixed-top w-50" >
                <div class="container shadow mx-2 roundend-pill py-4" style="background-color: lightpink;"  id="exitwarning">
                    <div class="row text-center h3 mx-2 fw-bold">Error Input</div>
                    {% for bagian, message in errornya%}
                        <div class="row mx-4">
                            {{forloop.counter}}. {{bagian}}: {{message}}
                        </div>
                    {% endfor%}
                    
                </div>
            </div>
        {% else %}
            <div class="container d-flex justify-content-center py-3 fixed-top w-50" >
                <div class="container shadow mx-2 roundend-pill py-4" style="background-color: lightgreen;"  id="exitwarning">
                    <div class="container text-center h3 mx-2">Data Berhasil ditambahkan!</div>
                </div>
            </div>
        {% endif %}
    {%endif%}
{% endblock%}

{% block content%}
    <div class="shadow rounded p-2 ">
        <form method="post">
            {% csrf_token%}
            <div class="row">
                <div class="col-3">Kode Supplier:</div>
                <div class="col-9">{{form.kode_supplier}}</div>
            </div>
            <div class="row">
                <div class="col-3">Nama Supplier:</div>
                <div class="col-9">{{form.nama_supplier}}</div>
            </div>
            <div class="row">
                <div class="col-3">Nomor Telpon #1:</div>
                <div class="col-9">{{form.tlp1}}</div>
            </div>
            <div class="row">
                <div class="col-3">Nomor Telpon #2:</div>
                <div class="col-9">{{form.tlp2}}</div>
            </div>
            <div class="row">
                <div class="col-3">Alamat Supplier:</div>
                <div class="col-9">{{form.alamat}}</div>
            </div>
            <div class="row">
                <div class="col-3">Hutang Awal:</div>
                <div class="col-1">Rp.</div>
                <div class="col-8">{{form.hutang_awal}}</div>
            </div>
            <div class="row">
                <div class="col-3">Catatan:</div>
                <div class="col-9">{{form.catatan}}</div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <input type="submit" name="btnSubmit" class="btn btn-outline-secondary" value="Save">                    
                </div>
            </div>
        </form>     
    </div>
{% endblock%}