{% extends 'initial.html'%}
{% load humanize %}

{% block title %}
L-tokoku | Master Pelanggan
{% endblock %}

{% block header_sidebar%}
    Master Data
{% endblock%}

{% block sidebar%}
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmasterbarang">Daftar Barang</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmastersupplier">Daftar Supplier</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmasterpelanggan">Daftar Pelanggan</button>
{% endblock%}

{% block stamp%}
Daftar Barang
{% endblock%}

{% block konfirmasi%}
    <div style="display: none; padding-top: 40px;" id="konfirmasinya" class="d-flex justify-content-center">
        <div class="card border-danger w-50 text-center bg-warning" style="display: none;" id="konfirmasinya2">
                Apakah benar akan dilakukan penghapusan untuk barang dengan kode barang: <span id="kode_barang" style="font-weight: bold;"></span> dengan nama barang: <span id="nama_barang" style="font-weight: bold;"></span>?
            <br><br>
            <button class="btn btn-outline-danger" id="hapuskanlah" onclick="hapuskan()">Ya!</button> <button class="btn btn-outline-info" onclick="batalkan()">Batalkan!</button>
        </div> 
    </div>
{% endblock%}

{% block content%}
    <table class="table" style="font-size: 15px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nama</th>
                <th scope="col">Stk.Awal</th>
                <th scope="col">Stk.Tmbh</th>
                <th scope="col">Stk.Rusak</th>
                <th scope="col">Stk.Akhir</th>
                <th scope="col">Hrg.Modal</th>
                <th scope="col">Hrg.Ecer</th>
                <th scope="col">Hrg.Grs1</th>
                <th scope="col">Hrg.Grs2</th>
                <th scope="col">Hrg.Grs3</th>
                <th scope="col">Satuan</th>
                <th scope="col">Keterangan</th>
                <th scope="col">Disc.%</th>
                <th scope="col">Foto</th>
                <th scope="col">Hapus</th>
            </tr>
        </thead>
        {% for dataku in data %}
        <tbody style="overflow: auto;">
            <tr class="{% cycle 'table-primary' 'table-secondary' 'table-success'%}">
                <th scope="col">{{forloop.counter}}</th>
                <td>{{dataku.id_barang}}</td>
                <td>{{dataku.nama_barang}}</td>
                <td>{{dataku.stok_awal|intcomma}}</td>
                <td>{{dataku.stok_beli|intcomma}}</td>
                <td>{{dataku.stok_rusak|intcomma}}</td>
                <td>{{dataku.stok_akhir|intcomma}}</td>
                <td>{{dataku.harga_modal|intcomma}}</td>
                <td>{{dataku.harga_ecer|intcomma}}</td>
                <td>{{dataku.harga_grosir1|intcomma}}</td>
                <td>{{dataku.harga_grosir2|intcomma}}</td>
                <td>{{dataku.harga_grosir3|intcomma}}</td>
                <td>{{dataku.get_satuan_barang_display}}</td>
                <td>{{dataku.keterangan_isi}}</td>
                <td>{{dataku.discount}}</td>
                <td><img src="{{dataku.foto.url}}" style="width:50px;height: 50px;"></td>
                <td>{% if dataku.hapus%}
                        <button onclick="konfirmasi_hapus('{{dataku.id_barang}}^{{dataku.nama_barang}}')" class="btn btn-outline-danger">Hapus</button>
                    {% else %}
                        <button disabled class="btn btn-outline-dark">Hapus</button>
                    {% endif%}
                </td>
            </tr>
        </tbody>
        {% endfor %}
        <tr>
            <td colspan="8">Jumlah Barang: {{jml_data}} item(s)</td>
        </tr>
    </table>
{% endblock%}

{% block javascript%}
<script>
    function konfirmasi_hapus(data) {
      $('#konfirmasinya').show(1000);
      $('#konfirmasinya2').show(1000);
      document.getElementById('kode_barang').innerHTML = data.split('^')[0];
      document.getElementById('nama_barang').innerHTML = data.split('^')[1];
      document.getElementById('hapuskanlah').value = data.split('^')[0];
    };
    function batalkan() {
      $('#konfirmasinya').hide(1000);
      $('#konfirmasinya2').hide(1000);      
    };

    function hapuskan() {
      window.location.href= '/d/mb/' + document.getElementById('hapuskanlah').value;
    }
</script>
{% endblock%}
