{% extends 'initial.html'%}
{% load humanize %}

{% block title %}
L-tokoku | Master Pelanggan
{% endblock %}

{% block header_sidebar%}
    Master Data
{% endblock%}

{% block sidebar%}

<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmasterbarang">Lihat Data Barang</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmastersupplier">Lihat Data Supplier</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmasterpelanggan">Lihat Data Pelanggan</button>
{% endblock%}

{% block stamp%}
Daftar Barang
{% endblock%}

{% block konfirmasi%}
    <div style="display: none;" id="konfirmasinya" class="container-fluid d-flex justify-content-center">
        
        <div class="card border-info w-50 text-center shadow justify-content-center" style="display: none; background: linear-gradient(to bottom,skyblue,whitesmoke);" id="konfirmasinya2">
            <div class=" d-flex justify-content-center rounded">
                <div class="col-11 bg-info p-2 card-text">
                    Konfirmasi
                </div>
                <div class="col-1 d-flex justify-content-start rounded  bg-info">
                    <button class="btn btn-info"  onclick="batalkan()">X</button>
                </div>
     
            </div>
            Apakah benar akan dilakukan penghapusan untuk barang dengan kode barang: <span id="kode_barang" style="font-weight: bold;"></span> dengan nama barang: <span id="nama_barang" style="font-weight: bold;"></span>?
            <div class="d-flex justify-content-center container">
                <button  id="hapuskanlah"  class="btn btn-danger" onclick="hapuskan()">Ya! Data Barang Dihapus! </button>
            </div>
            <br>            
        </div> 
    </div>
{% endblock%}

{% block content%}
    <div class="row p-2">
        <div class="col-2 py-2 fw-bold">Filter Barang:</div>
        <div class="col-10"><input type="text" class="form-control" id="myInput"></div>
    </div>
    <table class="table" style="font-size: 15px;" id="myTable">
        <thead>
            <tr>
                <th scope="col">Hapus</th>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nama</th>
                <th scope="col">Gambar</th>
                <th scope="col">Stk.Awal</th>
                <th scope="col">Stk.Tmbh</th>
                <th scope="col">Stk.Rusak</th>
                <th scope="col">Stk.Akhir</th>
                <th scope="col">Hrg.Modal</th>
                <th scope="col">Hrg.Ecer</th>
                <th scope="col">Hrg.Grs1</th>
                <th scope="col">Hrg.Grs2</th>
                <th scope="col">Hrg.Grs3</th>
                <th scope="col">Satuan</th>
                <th scope="col">Keterangan</th>
                <th scope="col">Disc.%</th>
            </tr>
        </thead>
        {% for dataku in data %}
        <tbody style="overflow: auto;">
            <tr class="{% cycle 'table-primary' 'table-secondary' 'table-success'%}">
                <td>{% if dataku.hapus%}
                        <button onclick="konfirmasi_hapus('{{dataku.id_barang}}^{{dataku.nama_barang}}')" class="btn btn-outline-danger rounded-circle text-center ">X</button>
                    {% else %}
                        <button disabled class="btn btn-outline-dark rounded-circle text-center">X</button>
                    {% endif%}
                </td>
                <th scope="col">{{forloop.counter}}</th>
                <td>{{dataku.id_barang}}</td>
                <td>{{dataku.nama_barang}}</td>
                <td><img src="{{dataku.foto.url}}" class="rounded-circle img-thumbnail" ></td>
                <td>{{dataku.stok_awal|intcomma}}</td>
                <td>{{dataku.stok_beli|intcomma}}</td>
                <td>{{dataku.stok_rusak|intcomma}}</td>
                <td>{{dataku.stok_akhir|intcomma}}</td>
                <td>{{dataku.harga_modal|intcomma}}</td>
                <td>{{dataku.harga_ecer|intcomma}}</td>
                <td>{{dataku.harga_grosir1|intcomma}}</td>
                <td>{{dataku.harga_grosir2|intcomma}}</td>
                <td>{{dataku.harga_grosir3|intcomma}}</td>
                <td>{{dataku.get_satuan_barang_display}}</td>
                <td>{{dataku.keterangan_isi}}</td>
                <td>{{dataku.discount}}</td>
            </tr>
        </tbody>
        {% endfor %}
        <tr>
            <td colspan="8">Jumlah Barang: {{jml_data}} item(s)</td>
        </tr>
    </table>
{% endblock%}

{% block javascript%}
<script>
    function konfirmasi_hapus(data) {
      $('#konfirmasinya').css('position', 'absolute');
      $('#konfirmasinya').addClass('py-5');
      $('#konfirmasinya').show(1000);
      $('#konfirmasinya2').show(1000);
      document.getElementById('kode_barang').innerHTML = data.split('^')[0];
      document.getElementById('nama_barang').innerHTML = data.split('^')[1];
      document.getElementById('hapuskanlah').value = data.split('^')[0];
    };
    function batalkan() {
      $('#konfirmasinya').hide(1000);
      $('#konfirmasinya2').hide(1000);      
    };

    function hapuskan() {
      window.location.href= '/d/mb/' + document.getElementById('hapuskanlah').value;
    }

    $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tbody").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

</script>
{% endblock%}
