{% extends 'initial.html'%}
{% load humanize %}

{% block title %}
L-tokoku | Master Pelanggan
{% endblock %}

{% block header_sidebar%}
    Master Data
{% endblock%}

{% block sidebar%}
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmasterbarang">Daftar Barang</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmastersupplier">Daftar Supplier</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmasterpelanggan">Daftar Pelanggan</button>
{% endblock%}

{% block stamp%}
Daftar Supplier
{% endblock%}

{% block konfirmasi%}
    <div style="display: none; padding-top: 40px;" id="konfirmasinya" class="d-flex justify-content-center">
        <div class="card border-danger w-50 text-center bg-warning" style="display: none;" id="konfirmasinya2">
                Apakah benar akan dilakukan penghapusan untuk supplier dengan kode supplier: <span id="kode_supplier" style="font-weight: bold;"></span> dengan nama supplier: <span id="nama_supplier" style="font-weight: bold;"></span>?
            <br><br>
            <button class="btn btn-outline-danger" id="hapuskanlah" onclick="hapuskan()">Ya!</button> <button class="btn btn-outline-info" onclick="batalkan()">Batalkan!</button>
        </div> 
    </div>
{% endblock%}

{% block content%}
    <table class="table" style="width: 100%;font-size:14px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nama</th>
                <th scope="col">Tlp#1</th>
                <th scope="col">Tlp#2</th>
                <th scope="col">Alamat</th>
                <th scope="col">H.Awal</th>
                <th scope="col">H.Tbhn</th>
                <th scope="col">H.Akhir</th>
                <th scope="col">Catatan</th>
                <th scope="col">Hapus</th>
            </tr>
        </thead>
        {% for dataku in data %}
        <tbody style="overflow-x:auto;">
            <tr class="{% cycle 'table-primary' 'table-secondary' 'table-success'%}">
                <th scope="col">{{forloop.counter}}</th>
                <td>{{dataku.kode_supplier}}</td>
                <td>{{dataku.nama_supplier}}</td>
                <td>{{dataku.tlp1}}</td>
                <td>{{dataku.tlp2}}</td>
                <td>{{dataku.alamat}}</td>
                <td>{{dataku.hutang_awal|intcomma}}</td>
                <td>{{dataku.hutang_tambahan|intcomma}}</td>
                <td>{{dataku.hutang_akhir|intcomma}}</td>
                <td>{{dataku.catatan}}</td>
                <td>{{dataku.hapus}}</td>
            </tr>
        </tbody>
        {% endfor %}
        <tr>
            <td colspan="8">Jumlah Supplier: {{jml_data}} orang</td>
        </tr>
    </table>
{% endblock%}

{% block javascript%}
<script>
    function konfirmasi_hapus(data) {
      $('#konfirmasinya').show(1000);
      $('#konfirmasinya2').show(1000);
      document.getElementById('kode_barang').innerHTML = data.split('^')[0];
      document.getElementById('nama_barang').innerHTML = data.split('^')[1];
      document.getElementById('hapuskanlah').value = data.split('^')[0];
    };
    function batalkan() {
      $('#konfirmasinya').hide(1000);
      $('#konfirmasinya2').hide(1000);      
    };

    function hapuskan() {
      window.location.href= '/d/ms/' + document.getElementById('hapuskanlah').value;
    }
</script>
{% endblock%}

