{% extends 'initial.html'%}
{% load humanize %}

{% block title %}
L-tokoku | Master Pelanggan
{% endblock %}

{% block header_sidebar%}
    Master Data
{% endblock%}

{% block sidebar%}
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmasterbarang">Daftar Barang</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmastersupplier">Daftar Supplier</button>
<button type="button" class="btn form-control btn-outline-success mt-2 mb-2 p-2" id="viewmasterpelanggan">Daftar Pelanggan</button>
{% endblock%}

{% block stamp%}
Daftar Barang
{% endblock%}

{% block content%}
    <table class="table" style="font-size: 15px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nama</th>
                <th scope="col">Stk.Awal</th>
                <th scope="col">Stk.Tmbh</th>
                <th scope="col">Stk.Rusak</th>
                <th scope="col">Stk.Akhir</th>
                <th scope="col">Hrg.Modal</th>
                <th scope="col">Hrg.Ecer</th>
                <th scope="col">Hrg.Grs1</th>
                <th scope="col">Hrg.Grs2</th>
                <th scope="col">Hrg.Grs3</th>
                <th scope="col">Satuan</th>
                <th scope="col">Keterangan</th>
                <th scope="col">Foto</th>
                <th scope="col">Hapus</th>
            </tr>
        </thead>
        {% for dataku in data %}
        <tbody style="overflow: auto;">
            <tr class="{% cycle 'table-primary' 'table-secondary' 'table-success'%}">
                <th scope="col">{{forloop.counter}}</th>
                <td>{{dataku.id_barang}}</td>
                <td>{{dataku.nama_barang}}</td>
                <td>{{dataku.stok_awal}}</td>
                <td>{{dataku.stok_beli}}</td>
                <td>{{dataku.stok_rusak}}</td>
                <td>{{dataku.stok_akhir}}</td>
                <td>{{dataku.harga_modal}}</td>
                <td>{{dataku.harga_ecer}}</td>
                <td>{{dataku.harga_grosir1}}</td>
                <td>{{dataku.harga_grosir2}}</td>
                <td>{{dataku.harga_grosir3}}</td>
                <td>{{dataku.get_satuan_barang_display}}</td>
                <td>{{dataku.keterangan_isi}}</td>
                <td><img src="{{dataku.foto.url}}" style="width:50px;height: 50px;"></td>
                <td>{{dataku.hapus}}</td>
            </tr>
        </tbody>
        {% endfor %}
        <tr>
            <td colspan="8">Jumlah Barang: {{jml_data}} item(s)</td>
        </tr>
    </table>

    
{% endblock%}
